*{
    margin: 0;
    padding: 0;
}

.sidebar {
    /* position: absolute; */
    background-color: rgb(166, 178, 178);
    width: 270px; 
    height: 100vh;
    transition: transform 0.3s ease-in;
    
}

.sidebar nav{
    padding: 58px;
    font-weight: bold;

}

.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 10px;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-left: 190px;
    
}

@media (max-width: 1615px) {
    
}

@media (max-width: 900px) {
    .devpic {
        display: none;
    }

    .sidebar{
        position: absolute;
    }
    
    .contectform form div{
        flex-direction: column;
        width: 55vw;
    }

    .contectform form div input{
        width: 55vw;
        
    }
    
}

.main{
     /* background-color: yellow; */ 
    width: 84vw;
    display:contents;
}

.infocontainer{
    /* background-color: rgb(218, 23, 101); */ 
    height: 58vh;
    width: 55vw;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.devinfo h2{
    margin-top: 10px;
}

.hello{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.name{
    font-size: 45px;
}

.about{
    font-size: 30px;
}
.buttons{
    margin: 10px;
}

.btn{
    padding: 6px;
    border-radius: 22px;
    color: rgb(7, 7, 7);
    background-color: rgb(184, 209, 209);
    font-weight: bold;
    font-size: 20px;
    margin-left: 0;
    margin-top: 5px;
    cursor: pointer;
    border-width: 4px;
}

.btn-sm{
    padding: 3px;
    border-radius: 22px;
    color: rgb(7, 7, 7);
    background-color: rgb(184, 209, 209);
    font-weight: bold;
    font-size: 18px;
    margin: 0 40px;
    
    margin-left: 30px;
    cursor: pointer;
    border-width: 4px;
}

.btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(80, 136, 192);
}

.btn-sm:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(80, 136, 192);
}

.devpic{
    height: 58vh;
}

.devpic img{
    height: 58vh;    
}

.container {
    display: flex;
}

.contectform {
    padding: 0 134px;
    text-align: center;
    padding-top: 124px;
}

.contectform h1{
    text-align: center;
    margin-bottom: 2rem;
}

.contectform form div {
    padding: 7px 0px;
    font-size: 23px;
    display: flex;
    /* flex-direction: column;  */
}

.contectform form div input{
    /* width: 16vw; */
    border-radius: 5px;
    margin: 6px 0px;
    padding: 3px;
}

.contectform form div label{
    width: 10vw;  
}

.contectform button{
    /* position: fixed; */
    margin-left: 150px;
}

.blogcontainer{
    margin: 20px;
}

.blogitem{
    margin: 20px;
}

.blogcontainer h1{
    margin: 23px;
}

.blogcontainer p{
    margin: 10px;
}

.skillcontainer{
    padding: 12px;
}

.skillitem{
    /* background-color: pink; */
    display: flex;
    padding: 2px;
    align-items: center;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundered{
    width: 265px;
}
.fifty{
    width: 125px;
}
.t5{
    width: 75px;
}

.servicesform{
    margin: 30px;
}